{% if actions %}
{% regroup actions by date as action_groups %}
    <form method="post" action="{{ request.get_full_path }}">
        <input type="hidden" name="type" value="action">
        {% csrf_token %}
        <table class="table table-bordered mt-3">
            <tbody>
                {% for date, actions in action_groups %}
                    <tr class="thead-dark">
                        <th colspan="5" class="text-center">
                            {{ date }}
                        </th>
                    </tr>
                    {% for action in actions %}
                    <tr>
                        <th class="text-center align-middle">
                            {% if action.type == 'A' %}
                                {% if action.player == player %}
                                    <span class="text-success">
                                    {% if action.details.conquered %}
                                        Conquête
                                    {% else %}
                                        Attaque
                                    {% endif %}
                                    </span>
                                {% else %}
                                    <span class="text-danger">
                                    {% if action.details.conquered %}
                                        Conquête ennemie
                                    {% else %}
                                        Attaque ennemie
                                    {% endif %}
                                    </span>
                                {% endif %}
                            {% else %}
                                Manœuvre
                            {% endif %}
                            {% if action.details.cancelled %}
                                <span class="text-muted">annulée</span>
                            {% endif %}
                        </th>
                        <td class="align-middle w-50 d-none d-sm-table-cell">
                            <span>{{ action.source }}</span>
                            <br />
                            <small class="text-muted">
                                {{ action.player }}
                            </small>
                        </td>
                        <td class="align-middle w-50">
                            <span>{{ action.target }}</span>
                            <br />
                            <small class="text-muted">
                                {{ action.defender|default_if_none:"---" }}
                            </small>
                        </td>
                        <td class="text-center align-middle d-none d-sm-table-cell">
                            <span class="text-nowrap">
                                <span title="Nombre de troupes" data-toggle="tooltip" data-placement="left">
                                    <strong>{{ action.details.attacker.sent|default:action.amount }}</strong>
                                    <i class="fa fa-users"></i>
                                </span>
                                {% if action.done and action.type == 'A' and not action.details.cancelled %}
                                {% if action.player == player %}
                                    <br />
                                    <span class="text-{% if action.details.attacker.losses %}danger{% else %}success{% endif %}"
                                          title="Nombre de pertes" data-toggle="tooltip" data-placement="left">
                                        <strong>{{ action.details.attacker.losses }}</strong>
                                        <i class="fa fa-users"></i>
                                    </span>
                                {% else %}
                                    <br />
                                    <span class="text-{% if action.details.defender.losses %}danger{% else %}success{% endif %}"
                                          title="Nombre de pertes" data-toggle="tooltip" data-placement="left">
                                        <strong>{{ action.details.defender.losses }}</strong>
                                        <i class="fa fa-users"></i>
                                    </span>
                                {% endif %}
                                {% endif %}
                            </span>
                        </td>
                        {% if not simple %}
                        <td class="text-center align-middle">
                            {% if action.done and action.details and action.type == 'A' %}
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse"
                                        href="#details{{ action.id }}" role="button"
                                        aria-expanded="false" aria-controls="details{{ action.id }}">
                                    <i class="fa fa-eye"></i>
                                </button>
                            {% elif not action.done %}
                                <button type="submit" class="btn btn-sm btn-danger"
                                        name="delete" value="{{ action.id }}"
                                        title="Supprimer" data-toggle="tooltip">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            {% elif action.details.cancelled %}
                                <span class="text-warning" title="{{ action.details.reason }}" data-toggle="tooltip">
                                    <i class="fas fa-times"></i>
                                </span>
                            {% else %}
                                <span class="text-{% if action.player == player %}success{% else %}danger{% endif %}">
                                    <i class="fa fa-check"></i>
                                </span>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% if action.done and action.type == 'A' %}
                    <tr id="details{{ action.id }}" class="{% if not simple %}collapse{% endif %}">
                        <td colspan="5">
                            {% if action.details.cancelled or action.details.reason %}
                                <span class="text-muted">{{ action.details.reason|default:"Annulée pour des raisons inconnues." }}</span>
                            {% else %}
                            <table>
                                <tr>
                                    <th>Attaquant</th>
                                    {% for roll in action.details.attacker_rolls %}
                                        <td class="{% if roll.wins %}text-success{% else %}text-danger{% endif %}">
                                            <strong class="text-nowrap">
                                                <i class="{% if roll.fort %}fab fa-fort-awesome{% else %}fa fa-user{% endif %}"></i>
                                                {{ roll.roll }}
                                            </strong>
                                        </td>
                                    {% endfor %}
                                    <th rowspan="2" class="align-middle">Pertes</th>
                                    <td class="text-{% if action.player == player %}danger{% else %}success{% endif %}">
                                        <strong class="text-nowrap">
                                            <i class="fa fa-users"></i>
                                            {{ action.details.attacker.losses }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Défenseur</th>
                                    {% for roll in action.details.defender_rolls %}
                                        <td class="{% if roll.wins %}text-success{% else %}text-danger{% endif %}">
                                            <strong class="text-nowrap">
                                                <i class="{% if roll.fort %}fab fa-fort-awesome{% else %}fa fa-user{% endif %}"></i>
                                                {{ roll.roll }}
                                            </strong>
                                        </td>
                                    {% endfor %}
                                    <td class="text-{% if action.player == player %}success{% else %}danger{% endif %}">
                                        <strong class="text-nowrap">
                                            <i class="fa fa-users"></i>
                                            {{ action.details.defender.losses }}
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endif %}
