{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block main %}
    <div class="d-flex justify-content-center">
        <div class="card shadow rounded my-auto">
            <div class="card-header text-center">
                <h3 class="font-weight-bold">Revendication</h3>
                <h4>{{ zone }}</h4>
                <h5>par {{ request.user }}</h5>
            </div>
            <div class="card-body">
                {% crispy form %}
                <a href="{% url "front:portal" %}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
