{% extends "base.html" %}
{% load static compress crispy_forms_tags front %}

{% block content %}
    <div class="container py-5">
        <div id="infos" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#infos-body"
                   aria-expanded="{% if territories %}false{% else %}true{% endif %}" aria-controls="infos-body">
                    <i class="fa fa-user-tie"></i>
                    <span>Informations</span>
                </a>
            </div>
            <div id="infos-body" class="card-body collapse {% if not territories %}show{% endif %}">
                {% crispy form %}
            </div>
        </div>
        {% if territories %}
        <div class="py-3"></div>
        <div id="territories" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#territories-body"
                   aria-expanded="true" aria-controls="territories-body">
                    <i class="fa fa-map-marked-alt"></i>
                    <span>Territoires</span>
                </a>
            </div>
            <div id="territories-body" class="card-body collapse show">
                <div class="mb-3 row">
                    <div class="col text-left">
                        <strong>
                            <i class="fa fa-chart-line"></i>
                            Taxes :
                        </strong>
                        {% with rate=player.taxes %}
                        <span class="h5">
                        <span id="taxerate" class="badge badge-{% if rate %}warning{% else %}danger{% endif %}">
                            {{ rate|default:0 }}/jour
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                    <div class="col text-right">
                        <strong>
                            <i class="fa fa-user-plus"></i>
                            Renforts :
                        </strong>
                        {% with rate=player.prods %}
                        <span class="h5">
                        <span id="prodrate" class="badge badge-{% if rate %}success{% else %}danger{% endif %}">
                            {{ rate|default:0 }}/jour
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col text-left">
                        <strong>
                            <i class="fa fa-coins"></i>
                            Argent :
                        </strong>
                        {% with money=player.money %}
                        <span class="h5">
                        <span id="money" class="badge badge-{% if money %}warning{% else %}danger{% endif %}">
                            {{ money }}
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                    <div class="col text-right">
                        <strong>
                            <i class="fa fa-users"></i>
                            Réserve :
                        </strong>
                        {% with reserve=player.reserve %}
                        <span class="h5">
                        <span id="remaining" class="badge badge-{% if reserve %}success{% else %}danger{% endif %}">
                            {{ reserve }}
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                </div>
                <form method="post" action="{{ request.get_full_path }}">
                    <input type="hidden" name="type" value="territory">
                    <input type="hidden" id="reserve" name="reserve" value="{{ player.reserve }}">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Capitale" data-toggle="tooltip">
                                    <i class="fas fa-star"></i>
                                </th>
                                <th>{{ player.count }} Province{{ player.count|pluralize }}</th>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Forts" data-toggle="tooltip">
                                    <i class="fab fa-fort-awesome"></i>
                                </th>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Taxes" data-toggle="tooltip">
                                    <i class="fa fa-coins"></i>
                                </th>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Casernes" data-toggle="tooltip">
                                    <i class="fa fa-house-user"></i>
                                </th>
                                <th class="text-center" style="width: 0"
                                    title="Troupes" data-toggle="tooltip">
                                    <i class="fa fa-users"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for territory in territories %}
                                <tr>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% if not player.capital %}
                                            <button type="submit" name="capital" value="{{ territory.id }}"
                                                    class="btn btn-sm btn-secondary" title="Etablir la capitale ici !"
                                                    data-toggle="tooltip" data-placement="top" data-html="true">
                                                <i class="fas fa-star"></i>
                                            </button>
                                        {% elif player.capital == territory %}
                                            <span title="<strong>Capitale</strong><br>1 <i class='fa fa-coins'></i> et 1 <i class='fa fa-user'></i> par jour"
                                                  data-toggle="tooltip" data-placement="top" data-html="true">
                                                <i class="fas fa-star"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {{ territory.get_zone_display }}
                                    </td>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% check_update territory.id "Forts" 'forts' territory.forts player.money %}
                                    </td>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% check_update territory.id "Taxes" 'taxes' territory.taxes player.money %}
                                    </td>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% check_update territory.id "Casernes" 'prods' territory.prods player.money %}
                                    </td>
                                    <td class="text-center align-middle text-nowrap">
                                        <input type="number" style="width: 4em" class="troops"
                                               data-initial="{{ territory.troops }}" data-limit="{{ territory.limit }}"
                                               name="{{ territory.zone }}" value="{{ territory.troops }}"
                                               min="{{ territory.troops }}" aria-valuemin="{{ territory.troops }}"
                                               max="{{ territory.limit }}" aria-valuemax="{{ territory.limit }}">
                                        <div class="d-none d-sm-inline align-top">
                                            <strong class="ml-1">/</strong>
                                            {% check_update territory.id "Limite" 'limit' territory.limit player.money %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" name="troops" value="Renforcer" class="btn btn-primary float-right">
                </form>
            </div>
        </div>
        <div class="py-3"></div>
        <div id="actions" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#actions-body"
                   aria-expanded="true" aria-controls="actions-body">
                    <i class="fa fa-directions"></i>
                    <span>Actions</span>
                </a>
            </div>
            <div id="actions-body" class="card-body collapse show">
                <div class="btn-group">
                    <a href="{% url "front:map_forces" %}?player={{ request.user.id }}"
                       class="btn btn-primary">
                        <i class="fa fa-route"></i>
                        <span>Planifier sur la carte</span>
                    </a>
                    <a href="{% url "front:map_stats" "troops" %}?player={{ request.user.id }}"
                       class="btn btn-danger d-none d-sm-inline"
                       title="Carte des troupes" data-toggle="tooltip">
                        <i class="fa fa-users"></i>
                    </a>
                    <a href="{% url "front:map_stats" "taxes" %}?player={{ request.user.id }}"
                       class="btn btn-warning d-none d-sm-inline"
                       title="Carte des taxes" data-toggle="tooltip">
                        <i class="fa fa-coins"></i>
                    </a>
                    <a href="{% url "front:map_stats" "forts" %}?player={{ request.user.id }}"
                       class="btn btn-success d-none d-sm-inline"
                       title="Carte des forts" data-toggle="tooltip">
                        <i class="fab fa-fort-awesome"></i>
                    </a>
                    <a href="{% url "front:map_stats" "prods" %}?player={{ request.user.id }}"
                       class="btn btn-info d-none d-sm-inline"
                       title="Carte des casernes" data-toggle="tooltip">
                        <i class="fa fa-house-user"></i>
                    </a>
                    <a href="{% url "front:action_history" %}?player={{ request.user.id }}" class="btn btn-primary">
                        <i class="fa fa-hourglass"></i>
                        <span>Historique</span>
                    </a>
                </div>
                {% include "_actions.html" %}
            </div>
        </div>
        <div class="py-3"></div>
        <div id="exchanges" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#exchanges-body"
                   aria-expanded="true" aria-controls="exchanges-body">
                    <i class="fa fa-handshake"></i>
                    <span>Échanges</span>
                </a>
            </div>
            <div id="exchanges-body" class="card-body collapse show">
                <div class="">
                    <a href="{% url "front:exchange" %}" class="btn btn-primary">
                        <i class="fa fa-hand-holding-usd"></i>
                        <span>Faire un échange</span>
                    </a>
                </div>
                {% if exchanges %}
                <form method="post" action="{{ request.get_full_path }}">
                    <input type="hidden" name="type" value="exchange">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped mt-3">
                        <thead>
                            <tr>
                                <th class="w-50">Expéditeur</th>
                                <th class="text-center" style="width: 0">
                                    <i class="fa fa-exchange-alt"></i>
                                </th>
                                <th class="w-50">Destinataire</th>
                                <th class="text-center" style="width: 0">
                                    <i class="fa fa-exchange-alt"></i>
                                </th>
                                <th class="text-center" style="width: 0">
                                    <i class="fa fa-cog"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exchange in exchanges %}
                            <tr>
                                <td class="align-middle">
                                    <span>{{ exchange.sender }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    {% if exchange.sender_money %}
                                    <span class="text-nowrap">
                                        {{ exchange.sender_money }}
                                        <i class="fa fa-coins"></i>
                                    </span>
                                    {% endif %}
                                    {% if exchange.sender_troops %}
                                    <span class="text-nowrap">
                                        {{ exchange.sender_troops }}
                                        <i class="fa fa-users"></i>
                                    </span>
                                    {% endif %}
                                    {% if not exchange.sender_money and not exchange.sender_troops %}
                                    <span class="text-warning">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <span>{{ exchange.receiver }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    {% if exchange.receiver_money %}
                                    <span class="text-nowrap">
                                        {{ exchange.receiver_money }}
                                        <i class="fa fa-coins"></i>
                                    </span>
                                    {% endif %}
                                    {% if exchange.receiver_troops %}
                                    <span class="text-nowrap">
                                        {{ exchange.receiver_troops }}
                                        <i class="fa fa-users"></i>
                                    </span>
                                    {% endif %}
                                    {% if not exchange.receiver_money and not exchange.receiver_troops %}
                                    <span class="text-warning">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    {% if exchange.done %}
                                        <span class="text-info" data-toggle="tooltip" data-html="true"
                                              title="<strong>Accord terminé</strong><br>Les ressources ont été échangées.">
                                            <i class="fa fa-check-circle"></i>
                                        </span>
                                    {% elif exchange.sender == player and exchange.accepted is None %}
                                        <button type="submit" class="btn btn-sm btn-danger"
                                                name="delete" value="{{ exchange.id }}"
                                                title="Supprimer" data-toggle="tooltip">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    {% elif exchange.accepted is True %}
                                        <span class="text-success" data-toggle="tooltip" data-html="true"
                                              title="<strong>Accord accepté</strong><br>Il sera traité dès que possible.">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    {% elif exchange.accepted is False %}
                                        <span class="text-danger" data-toggle="tooltip" data-html="true"
                                              title="<strong>Accord refusé</strong><br>L'expéditeur a été remboursé.">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    {% else %}
                                        <div class="btn-group">
                                            <button type="submit" style="width: 32px" class="btn btn-sm btn-success"
                                                    name="accept" value="{{ exchange.id }}"
                                                    title="Accepter" data-toggle="tooltip">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="submit" style="width: 32px" class="btn btn-sm btn-danger"
                                                    name="reject" value="{{ exchange.id }}"
                                                    title="Refuser" data-toggle="tooltip">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="py-3"></div>
        <div id="claims" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#claims-body"
                   aria-expanded="{% if territories %}false{% else %}show{% endif %}" aria-controls="claims-body">
                    <i class="fa fa-flag"></i>
                    <span>Revendications</span>
                </a>
            </div>
            <div id="claims-body" class="card-body collapse {% if not territories %}show{% endif %}">
                <div class="">
                    <a href="{% url "front:map_claims" %}?last={{ last_claim|date:'U' }}" class="btn btn-primary">
                        <i class="fa fa-globe-europe"></i>
                        <span>Revendiquer sur la carte</span>
                    </a>
                    <a href="{% url "front:map_stats" "claims" %}" class="btn btn-secondary"
                       title="Carte des revendications" data-toggle="tooltip">
                        <i class="fa fa-flag"></i>
                    </a>
                </div>
                {% if claims %}
                <table class="table table-bordered table-striped mt-3">
                    <tbody>
                        {% for claim in claims %}
                        <tr>
                            <td class="align-middle">
                                <span>{{ claim.get_zone_display }}</span>
                                <br />
                                <small class="text-muted">{{ claim.get_reason_display }}</small>
                            </td>
                            <td style="width: 0" class="text-center align-middle text-nowrap d-none d-sm-table-cell
                                    {% if claim.count > 1 %}text-danger{% else %}text-success{% endif %}"
                                title="Nombre de revendications" data-toggle="tooltip" data-placement="left">
                                <strong>{{ claim.count }}</strong>
                                <i class="fa fa-flag"></i>
                            </td>
                            <td style="width: 0" class="text-center align-middle">
                                <a href="{% url "front:claim" claim.zone %}"
                                   class="btn btn-sm btn-success"
                                    title="Modifier" data-toggle="tooltip">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% compress js %}
    <script src="{% static "js/portal.js" %}" type="application/javascript"></script>
    {% endcompress %}
{% endblock %}
