{% extends "base.html" %}
{% load static compress crispy_forms_tags front %}

{% block content %}
    <div class="container py-5">
        <div id="infos" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#infos-body"
                   aria-expanded="false" aria-controls="infos-body">
                    <i class="fa fa-user-tie"></i>
                    <span>Informations</span>
                </a>
            </div>
            <div id="infos-body" class="card-body collapse">
                {% crispy form %}
            </div>
        </div>
        {% if territories %}
        <div class="py-3"></div>
        <div id="territories" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#territories-body"
                   aria-expanded="true" aria-controls="territories-body">
                    <i class="fa fa-map-marked-alt"></i>
                    <span>Territoires</span>
                </a>
            </div>
            <div id="territories-body" class="card-body collapse show">
                <div class="mb-3 row">
                    <div class="col text-left">
                        <strong>
                            <i class="fa fa-chart-line"></i>
                            Taxes :
                        </strong>
                        {% with rate=player.taxes %}
                        <span class="h5">
                        <span id="taxerate" class="badge badge-{% if rate %}warning{% else %}danger{% endif %}">
                            {{ rate|default:0 }}/jour
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                    <div class="col text-right">
                        <strong>
                            <i class="fa fa-user-plus"></i>
                            Renforts :
                        </strong>
                        {% with rate=player.prods %}
                        <span class="h5">
                        <span id="prodrate" class="badge badge-{% if rate %}success{% else %}danger{% endif %}">
                            {{ rate|default:0 }}/jour
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col text-left">
                        <strong>
                            <i class="fa fa-coins"></i>
                            Argent :
                        </strong>
                        {% with money=player.money %}
                        <span class="h5">
                        <span id="money" class="badge badge-{% if money %}warning{% else %}danger{% endif %}">
                            {{ money }}
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                    <div class="col text-right">
                        <strong>
                            <i class="fa fa-users"></i>
                            Réserve :
                        </strong>
                        {% with reserve=player.reserve %}
                        <span class="h5">
                        <span id="remaining" class="badge badge-{% if reserve %}success{% else %}danger{% endif %}">
                            {{ reserve }}
                        </span>
                        </span>
                        {% endwith %}
                    </div>
                </div>
                <form method="post" action="{{ request.get_full_path }}">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Capitale" data-toggle="tooltip">
                                    <i class="fas fa-star"></i>
                                </th>
                                <th>Province</th>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Forts" data-toggle="tooltip">
                                    <i class="fab fa-fort-awesome"></i>
                                </th>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Taxes" data-toggle="tooltip">
                                    <i class="fa fa-coins"></i>
                                </th>
                                <th class="text-center d-none d-sm-table-cell" style="width: 0"
                                    title="Casernes" data-toggle="tooltip">
                                    <i class="fa fa-house-user"></i>
                                </th>
                                <th class="text-center" style="width: 0"
                                    title="Troupes" data-toggle="tooltip">
                                    <i class="fa fa-users"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for territory in territories %}
                                <tr>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% if not player.capital %}
                                            <button type="submit" name="capital" value="{{ territory.id }}"
                                                    class="btn btn-sm btn-secondary" title="Etablir la capitale ici !"
                                                    data-toggle="tooltip" data-placement="top" data-html="true">
                                                <i class="fas fa-star"></i>
                                            </button>
                                        {% elif player.capital == territory %}
                                            <span title="<strong>Capitale</strong><br>1 <i class='fa fa-coins'></i> et 1 <i class='fa fa-user'></i> par jour"
                                                  data-toggle="tooltip" data-placement="top" data-html="true">
                                                <i class="fas fa-star"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {{ territory.get_zone_display }}
                                    </td>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% check_update territory.id "Forts" 'forts' territory.forts player.money %}
                                    </td>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% check_update territory.id "Taxes" 'taxes' territory.taxes player.money %}
                                    </td>
                                    <td class="text-center align-middle text-nowrap d-none d-sm-table-cell">
                                        {% check_update territory.id "Casernes" 'prods' territory.prods player.money %}
                                    </td>
                                    <td class="text-center align-middle text-nowrap">
                                        <input type="number" style="width: 3em" class="troops"
                                               data-initial="{{ territory.troops }}" data-limit="{{ territory.limit }}"
                                               name="{{ territory.zone }}" value="{{ territory.troops }}"
                                               min="{{ territory.troops }}" aria-valuemin="{{ territory.troops }}"
                                               max="{{ territory.limit }}" aria-valuemax="{{ territory.limit }}">
                                        <div class="d-none d-sm-inline">
                                            <strong class="ml-1">/</strong>
                                            {% check_update territory.id "Limite" 'limit' territory.limit player.money %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" name="troops" value="Renforcer" class="btn btn-primary float-right">
                    <input type="hidden" id="reserve" name="reserve" value="{{ player.reserve }}">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="py-3"></div>
        <div id="actions" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#actions-body"
                   aria-expanded="true" aria-controls="actions-body">
                    <i class="fa fa-directions"></i>
                    <span>Actions</span>
                </a>
            </div>
            <div id="actions-body" class="card-body collapse show">
                <div class="">
                    <a href="{% url "front:map_forces" %}?player={{ request.user.id }}"
                       class="btn btn-primary">
                        <i class="fa fa-route"></i>
                        <span>Planifier sur la carte</span>
                    </a>
                    <a href="{% url "front:map_stats" "troops" %}?player={{ request.user.id }}"
                       class="btn btn-danger d-none d-sm-inline"
                       title="Carte des troupes" data-toggle="tooltip">
                        <i class="fa fa-users"></i>
                    </a>
                    <a href="{% url "front:map_stats" "taxes" %}?player={{ request.user.id }}"
                       class="btn btn-warning d-none d-sm-inline"
                       title="Carte des taxes" data-toggle="tooltip">
                        <i class="fa fa-coins"></i>
                    </a>
                    <a href="{% url "front:map_stats" "forts" %}?player={{ request.user.id }}"
                       class="btn btn-success d-none d-sm-inline"
                       title="Carte des forts" data-toggle="tooltip">
                        <i class="fab fa-fort-awesome"></i>
                    </a>
                    <a href="{% url "front:map_stats" "prods" %}?player={{ request.user.id }}"
                       class="btn btn-info d-none d-sm-inline"
                       title="Carte des casernes" data-toggle="tooltip">
                        <i class="fa fa-house-user"></i>
                    </a>
                </div>
                {% if actions %}
                {% regroup actions by date as action_groups %}
                    <form method="post" action="{{ request.get_full_path }}">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped mt-3">
                        <tbody>
                            {% for date, actions in action_groups %}
                                <tr>
                                    <th colspan="5" class="text-center">
                                        {{ date }}
                                    </th>
                                </tr>
                                {% for action in actions %}
                                <tr>
                                    <th class="text-center align-middle">
                                        {% if action.type == 'A' %}
                                            {% if action.player == player %}
                                                <span class="text-success">
                                                {% if action.details.conquered %}
                                                    Conquête
                                                {% else %}
                                                    Attaque
                                                {% endif %}
                                                </span>
                                            {% else %}
                                                <span class="text-danger">
                                                {% if action.details.conquered %}
                                                    Conquête ennemie
                                                {% else %}
                                                    Attaque ennemie
                                                {% endif %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            Manœuvre
                                        {% endif %}
                                        {% if action.details.cancelled %}
                                            <span class="text-muted">annulée</span>
                                        {% endif %}
                                    </th>
                                    {% if action.player == player %}
                                    <td class="align-middle w-50 d-none d-sm-table-cell">
                                        <span>{{ action.source }}</span>
                                        <br />
                                        <small class="text-muted">
                                            {{ action.player }}
                                        </small>
                                    </td>
                                    <td class="align-middle w-50">
                                        <span>{{ action.target }}</span>
                                        <br />
                                        <small class="text-muted">
                                            {{ action.defender|default_if_none:"---" }}
                                        </small>
                                    </td>
                                    {% else %}
                                    <td class="align-middle w-50 d-none d-sm-table-cell">
                                        <span>{{ action.target }}</span>
                                        <br />
                                        <small class="text-muted">
                                            {{ action.defender|default_if_none:"---" }}
                                        </small>
                                    </td>
                                    <td class="align-middle w-50">
                                        <span>{{ action.source }}</span>
                                        <br />
                                        <small class="text-muted">
                                            {{ action.player }}
                                        </small>
                                    </td>
                                    {% endif %}
                                    <td class="text-center align-middle d-none d-sm-table-cell"
                                        title="Nombre de troupes" data-toggle="tooltip" data-placement="left">
                                        <span class="text-nowrap">
                                            <strong>{{ action.amount }}</strong>
                                            <i class="fa fa-users"></i>
                                        </span>
                                    </td>
                                    <td class="text-center align-middle">
                                        {% if action.done and action.details and action.type == 'A' %}
                                            <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse"
                                                    href="#details{{ action.id }}" role="button"
                                                    aria-expanded="false" aria-controls="details{{ action.id }}">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        {% elif not action.done %}
                                            <button type="submit" class="btn btn-sm btn-danger"
                                                    name="delete" value="{{ action.id }}"
                                                    title="Supprimer" data-toggle="tooltip">
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        {% elif action.details.cancelled %}
                                            <span class="text-warning" title="{{ action.details.reason }}" data-toggle="tooltip">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        {% else %}
                                            <span class="text-{% if action.player == player %}success{% else %}danger{% endif %}">
                                                <i class="fa fa-check"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if action.done and action.type == 'A' %}
                                <tr id="details{{ action.id }}" class="collapse">
                                    <td colspan="5">
                                        {% if action.details.cancelled or action.details.reason %}
                                            <span class="text-muted">{{ action.details.reason|default:"Annulée pour des raisons inconnues." }}</span>
                                        {% else %}
                                        <table>
                                            <tr>
                                                <th>Attaquant</th>
                                                {% for roll in action.details.attacker_rolls %}
                                                    <td class="{% if roll.wins %}text-success{% else %}text-danger{% endif %}">
                                                        <strong class="text-nowrap">
                                                            <i class="{% if roll.fort %}fab fa-fort-awesome{% else %}fa fa-user{% endif %}"></i>
                                                            {{ roll.roll }}
                                                        </strong>
                                                    </td>
                                                {% endfor %}
                                                <th rowspan="2" class="align-middle">Pertes</th>
                                                <td class="text-{% if action.player == player %}danger{% else %}success{% endif %}">
                                                    <strong class="text-nowrap">
                                                        <i class="fa fa-users"></i>
                                                        {{ action.details.attacker.losses }}
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Défenseur</th>
                                                {% for roll in action.details.defender_rolls %}
                                                    <td class="{% if roll.wins %}text-success{% else %}text-danger{% endif %}">
                                                        <strong class="text-nowrap">
                                                            <i class="{% if roll.fort %}fab fa-fort-awesome{% else %}fa fa-user{% endif %}"></i>
                                                            {{ roll.roll }}
                                                        </strong>
                                                    </td>
                                                {% endfor %}
                                                <td class="text-{% if action.player == player %}success{% else %}danger{% endif %}">
                                                    <strong class="text-nowrap">
                                                        <i class="fa fa-users"></i>
                                                        {{ action.details.defender.losses }}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="py-3"></div>
        <div id="claims" class="card rounded shadow">
            <div class="card-header text-center">
                <a href="#" class="text-decoration-none" data-toggle="collapse" data-target="#claims-body"
                   aria-expanded="{% if territories %}true{% else %}false{% endif %}" aria-controls="claims-body">
                    <i class="fa fa-flag"></i>
                    <span>Revendications</span>
                </a>
            </div>
            <div id="claims-body" class="card-body collapse {% if not territories %}false{% endif %}">
                <div class="">
                    <a href="{% url "front:map_claims" %}?last={{ last_claim|date:'U' }}" class="btn btn-primary">
                        <i class="fa fa-globe-europe"></i>
                        <span>Revendiquer sur la carte</span>
                    </a>
                    <a href="{% url "front:map_stats" "claims" %}" class="btn btn-secondary"
                       title="Carte des revendications" data-toggle="tooltip">
                        <i class="fa fa-flag"></i>
                    </a>
                </div>
                {% if claims %}
                <table class="table table-bordered table-striped mt-3">
                    <tbody>
                        {% for claim in claims %}
                        <tr>
                            <td class="align-middle">
                                <span>{{ claim.get_zone_display }}</span>
                                <br />
                                <small class="text-muted">{{ claim.get_reason_display }}</small>
                            </td>
                            <td style="width: 0" class="text-center align-middle text-nowrap d-none d-sm-table-cell
                                    {% if claim.count > 1 %}text-danger{% else %}text-success{% endif %}"
                                title="Nombre de revendications" data-toggle="tooltip" data-placement="left">
                                <strong>{{ claim.count }}</strong>
                                <i class="fa fa-flag"></i>
                            </td>
                            <td style="width: 0" class="text-center align-middle">
                                <a href="{% url "front:claim" claim.zone %}"
                                   class="btn btn-sm btn-success"
                                    title="Modifier" data-toggle="tooltip">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% compress js %}
    <script src="{% static "js/portal.js" %}" type="application/javascript"></script>
    {% endcompress %}
{% endblock %}
