html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.folium-map {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}

.foliumpopup {
    margin: auto;
}

.foliumpopup table {
    margin: auto;
}

.foliumpopup tr {
    text-align: left;
}

.foliumpopup th {
    padding: 2px;
    padding-right: 8px;
}
